@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
  font-family: 'Poppins', sans-serif;
}
/*Home */
.container-1{
  background-color: #EFBCD5;
}
.female{
  height:85vh;
}
.her{
  font-weight: bold;
  font-size: 6rem;
}
.herwork{
  font-weight: 600;
  font-size: 4rem;
}
.gt{
  color:#fff;
}
.text{
  padding-left: 3rem;
  padding-top: 5rem;
}
/*page2 */
.container2{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5rem;
}
.pg2{
  font-weight: 800;
  font-size: 3rem;
  padding-left: 33.75rem;
  padding-bottom: 1.5rem;
}
.midas{
  background: #121213;
  color: #fff;
}
.gitimages{
  height: 50vh;
  border-radius: 0.3rem;
  padding-top: 1.5rem;
}
.gitbtn{
  margin-bottom: 3rem;
}
